* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    display: grid;
    grid-template-rows: 85px auto 1fr;
    margin: 0 auto;
    text-align: center;
    height: 100vh;
    max-width: 375px;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    font-family: 'Josefin Sans', sans-serif;
    color: hsl(0, 6%, 24%)
}
.photo {
    display: block;
    height: auto;
    width: 100%;
}
.logo {
    max-height: 1.5rem;
}
nav {
    display: grid;
    align-self: center;
    padding-left: 2rem;
}
main {
    margin-top: 4rem;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
}
.title{
    text-transform: uppercase;
    font-size: 1.6rem;
    grid-row: 1/ 2;
    line-height: 1.1;
}
h1 {
    letter-spacing: 0.3em;
}
.rose {
    color:hsl(0, 36%, 70%);
    font-weight: 300;  
}
.description {
    grid-row: 2 / span 1;
    padding: 1rem .8rem 0;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.75;
    color:hsl(0, 36%, 70%);
    letter-spacing: 0.1em;
    
}
.form-fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    padding: 1rem .8rem 0;
        
}
input[type=email] {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    padding-left: 2rem;
    line-height: normal;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 2rem 0 0 2rem;
    font-size: 1rem;
    overflow: visible;
}
input[type=email]::placeholder {
    color: hsl(0, 36%, 70%);
}
button {
    display: inline-block;
    background-image: linear-gradient(135deg,hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    padding: .9rem 1.75rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    outline: 0;
    margin: 0 0 0 -2.5rem;
    box-shadow: 5px 15px 35px -10px hsl(0, 74%, 74%);
    -webkit-box-shadow: 5px 15px 35px -10px hsl(0, 74%, 74%);
    -moz-box-shadow: 5px 15px 35px -10px hsl(0, 74%, 74%);
    
}
footer {
    font-size: .75rem;
    padding: 1rem;
    color: rgba(0, 0, 0, 0.85);
    
}
a {
    text-decoration: none;
    color:hsl(0, 36%, 70%);
}