$primary-color: hsl(0, 100%, 68%);
$dark-blue: hsl(230, 29%, 20%);
$dark-grayish-blue: hsl(230, 11%, 40%);
$grayish-blue: hsl(231, 7%, 65%);
$light-grayish-blue: hsl(207, 33%, 95%);

$body-font-size: 18px;
$body-font-family: 'Barlow', sans-serif;;
$font-family: 'Barlow Condensed', sans-serif;

$attribution-font-size: 11px;
$attribution-a-color: hsl(228, 45%, 44%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}