.header {
    display: flex;
    flex-direction: row;
    height: 70vh;
    
    
    li {
        list-style-type: none;
        padding: 0 .7rem;
    }
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: .5rem;
    }
    
    .header-left {
        width: 50%;
        margin: 1rem;
        ul {
            justify-content: flex-start;
        }
    }
    .header-right {
        width: 50%;
        background: $light-grayish-blue;
        border-radius: 0 0 0 30%;
        padding: 2.5rem;
        a {
            text-transform: uppercase;
        }
    }
}